<div data-controller="mapsedit" id="mapsedit" class="min-h-screen bg-light">
  <div class="hidden">
    <div data-mapsedit-target="targetaddress"><%= @target %></div>
    <input type="number" data-mapsedit-target="pid" value=<%=@pid%>></input>
  </div>

  <div class="relative">
    <div id="map" class="h-[80svh]"></div>
    <div class="w-8 h-8 border-2 rounded-full abs-center border-pale"></div>
  </div>

  <div class="flex items-center justify-center gap-4 p-2" id="treecontrols">
    <button type="button" data-action="mapsedit#addTree" class="darkbutton">Add Tree</button>
    <%= link_to 'Dashboard', user_dashboard_path, class: "lightbutton-s hover:bg-dark hover:text-light"%>
  </div>
  <div id="treeinputs" class="grid grid-cols-6 gap-2 p-2 min-h-[20lvh] windowpane hidden">
    <%= render "treeform", tree: Tree.new %>
  </div>
</div>
