<div data-controller="mapsedit" id="mapsedit" class="min-h-screen bg-light">
  <div class="hidden">
    <div data-mapsedit-target="targetaddress"><%= @target %></div>
    <input type="number" data-mapsedit-target="pid" value=<%=@pid%>></input>
  </div>

  <div class="relative">
    <div id="map" class="h-[80svh]"></div>
    <div class="w-8 h-8 border-2 rounded-full abs-center border-pale"></div>
  </div>

  <div class="grid grid-cols-3 gap-4 p-2" id="treecontrols">
    <button type="button" data-action="mapsedit#addTree" class="p-2 px-4 text-2xl font-bold text-white rounded-lg bg-dark font-josefin w-40">Add Tree</button>
  </div>
  <div id="treeinputs" class="grid grid-cols-6 gap-2 p-2 min-h-[20lvh] windowpane hidden">
    <%= render "treeform", tree: Tree.new %>
  </div>
</div>
