<div data-controller="mapsfind" id="mapfind">
  <p class="hidden" data-mapsfind-target="targetaddress"><%= @target %></p>
  <div class="hidden" data-mapsfind-target="trees"><%= @trees %></div>
  <div id="map" class="h-[50vh]"></div>
</div>
