<div data-controller="mapsfind" id="mapfind">
  <div class="hidden" data-mapsfind-target="targetaddress"><%= @target %></div>
  <div class="hidden" data-mapsfind-target="trees"><%= @trees %></div>
  <div class="relative">
    <div id="map" class="h-[80vh]"></div>
    <div class="w-8 h-8 border-2 rounded-full abs-center border-pale"></div>
  </div>
    

  <p class="" data-mapsfind-target="latitude"><%= @latitude %></p>
  <p class="" data-mapsfind-target="longitude"><%= @longitude %></p>
  <button type="button" data-action="mapsfind#addTree" class="p-2 px-4 text-2xl font-bold text-white rounded-lg bg-dark font-josefin">Add</button>
  <button type="button" data-action="mapsfind#addTree" class="p-2 px-4 text-2xl font-bold border-2 rounded-lg text-dark bg-light font-josefin border-dark">Save</button>
</div>
