<div data-controller="jobform">
  <div class="hidden" data-jobform-target="pid"><%=@pid %></div>
  <h1>New job</h1>

  <div id="jobmap" class="min-h-[40vh]"></div>
  <%= render "form", job: @job %>


  <div>
    <%= link_to "Back to jobs", jobs_path %>
  </div>
</div>
