<div data-controller="mapsjob" id="mapsjob" class="min-h-screen bg-light">
  <div class="hidden">
    <div data-mapsjob-target="jobid"><%= @jobid %></div>
  </div>
  <div class="relative">
    <div id="map" class="h-[60vh]"></div>
  </div>
  <div class="windowpanedark m-2">
    <p>Trees</p>
    <div id="jobtrees">
      <%= render @jobtrees %>  
    </div>
  </div>

  <div class="flex items-center justify-center gap-4 p-2" id="treecontrols">
  </div>
  <%= button_to "Destroy this job", @job, method: :delete, class:"darkbutton-s" %>
</div>


  

