<h1>New property</h1>
<div class="hidden" id="mapboxpub"><%= ENV["MAPBOX_PUB"] %></div>
<%= render "form", property: @property %>

<br>

<div>
  <%= link_to "Dashboard", user_dashboard_path, class:"darkbutton-s" %>
</div>
