
<div class="hidden" id="mapboxpub"><%= ENV["MAPBOX_PUB"] %></div>
<div data-controller="reactpropshow" id="reactpropshow">
  <div class="grid grid-rows-[200px_1fr] md:grid-cols-[1fr_4fr] md:grid-rows-1">
    <div class="flex flex-col justify-between gap-2 p-2 bg-dark text-light">
      <div class="grid gap-2 h-fit text-center">
        <p class="underline">Filters</p>
      </div>
      <div class="self-end">
        <div class="mainpane">
          <p class="panetitle w-full"></p>
          <div class="grid gap-2 p-2 text-dark w-full">
            <p>Client:</p>
            <p>Phone:</p>
            <p>Email:</p>
            <p>Type:</p>
            <p>Parking:</p>
            <p>Access:</p>
          </div>
        </div>
      </div>
    </div>
    <div class="h-[100svh] w-full"></div>
  </div>
</div>