<h1>New tree</h1>
<turbo-frame id="addtree">
  <%= render "form", tree: @tree %>
  <button data-action="mapsfind#cancelAddTree", class="ml-2 border-2 border-dark rounded-lg p-2 px-4 font-bold text-dark font-inter text-lg">
    cancel
  </button>
</turbo-frame>

