<div data-controller="mapper" class="grid lg:grid-cols-[1fr_1024px_1fr] bg-emerald-800 min-h-[80vh]" >

  <div id="map" class="lg:col-start-2 h-[50vh]"></div>
  <p id="coordinates" class="font-bold text-xl bg-black text-white lg:col-start-2 row-start-2"></p>

</div>