<div class="grid h-[100dvh] bg-light text-dark min-h-[100lvh] grid-rows-[1fr_1fr_8fr] overflow-hidden font-josefin font-bold" >
  <div class="p-4">
    <p class="text-8xl">Banyan</p>
  </div>
  <div class="flex items-center gap-2 pl-8 text-2xl">
    <%= link_to 'Sign-up', new_user_registration_path %>
    <div class="w-4 h-1 bg-dark"></div>
    <%= link_to 'Login', new_user_session_path %>
  </div>
  <img src="<%= asset_path('welcome.svg') %>" alt="Welcome" class="object-cover min-h-[80dvh]">
</div>
