<section>
  <div data-controller="rdashboard" id="dashboardroot">
    <div class="grid lg:grid-cols-[1fr_5fr]">
      <div class="row-span-full bg-dark max-lg:min-h-12">
        <div class="lg:flex lg:flex-col grid grid-cols-4">
          <a href="/clients/new" class="navlink">
            +Client
          </a>
          <a href="/properties/new" class="navlink">
            +Property
          </a>
          <a href="/user/profile" class="navlink">
            Profile
          </a>
          <a href="/user/configuration" class="navlink">
            Config
          </a>
        </div>
      </div>
      <div class="flex flex-col gap-4 p-4 text-lg bg-light text-dark font-josefin min-h-screen">
      </div>
    </div>
  </div>
</section>
<%= link_to 'Debug View', user_debug_path, class:"lightbutton-s"%>