<section>
  <div class="hidden" id="mapboxpub"><%= ENV["MAPBOX_PUB"] %></div>
  <div data-controller="rdashboard" id="dashboardroot">
    <div class="grid lg:grid-cols-[1fr_5fr]">
      <div class="row-span-full bg-dark max-lg:min-h-12">
        <div class="lg:flex lg:flex-col grid grid-cols-5">
          <p class="navlink">
            +Client
          </p>
          <p class="navlink">
            +Property
          </p>
          <p class="navlink">
            Calendar
          </p>
          <p class="navlink">
            Fleet
          </p>
          <p class="navlink">
            Config
          </p>
        </div>
      </div>
      <div class="flex flex-col gap-4 p-4 text-lg bg-light text-dark font-inter min-h-screen">
      </div>
    </div>
  </div>
</section>