<section class="grid gap-2 p-4 text-lg bg-light text-dark font-josefin">
  <p>Hiya <%= @username %>!</p>
  <div data-controller="rdashboard" id="dashboardroot"></div>
</section>
<div class="hidden">
  <div id="uid"><%= @uid %></div>
</div>