<div data-controller="reactpropshow" id="reactpropshow">
    <div class="grid grid-rows-[200px_1fr] md:grid-cols-[1fr_4fr] md:grid-rows-1">
        <div class="p-2 bg-dark text-light">
            <p>Filters</p>
            <p>Other</p>
        </div>
        <div class="h-[100svh] w-full"></div>
    </div>
</div>