@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navlink {
    @apply py-2 px-4 bg-dark border-r-4 border-r-accent text-end text-lg font-black text-light;
  }
  .darkbutton {
    @apply p-2 px-4 rounded bg-dark text-light font-bold text-2xl text-center w-fit;
  }
  .darkbutton-s {
    @apply p-2 rounded bg-dark text-light font-bold text-sm text-center w-fit;
  }
  .lightbutton {
    @apply p-2 px-4 rounded bg-light text-dark font-bold text-2xl text-center w-fit;
  }
  .lightbutton-s {
    @apply p-2 rounded bg-light text-dark font-bold text-sm text-center w-fit;
  }
  .profilecatlist {
    @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 items-center gap-2 py-2;
  }
  .formcontainer {
    @apply grid gap-2 p-2 sm:grid-cols-[1fr_640px_1fr] md:grid-cols-[1fr_768px_1fr]
  }
  .mainpane {
    @apply border-2 border-stone-900 rounded-lg text-light h-fit max-w-[100%];
  }
  .scrollpane {
    @apply border-2 border-stone-900 rounded-lg text-light max-w-[100%] overflow-y-scroll scroll-theme;
  }
  .panetitle {
    @apply bg-dark border-b-[6px] border-accent h-8 text-white pl-2 text-lg leading-7 font-extrabold;
  }
  .panecontent {
    @apply grid gap-2 p-2;
  }
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.filterbox {
  display: grid;
  grid-template-rows: 0fr 0fr 0fr 0fr;
  transition: grid-template-rows 500ms;
  width: 100%;
}

.mesh1 {
  background-color:hsla(12,6%,15%,1);
  background-image:
  radial-gradient(at 83% 37%, hsla(161,39%,13%,1) 0px, transparent 50%),
  radial-gradient(at 85% 100%, hsla(168,64%,24%,1) 0px, transparent 50%),
  radial-gradient(at 37% 76%, hsla(168,64%,24%,1) 0px, transparent 50%),
  radial-gradient(at 80% 100%, hsla(12,6%,15%,1) 0px, transparent 50%);
}

.border-gradient {
  background: linear-gradient(#292524,#292524) padding-box,
    linear-gradient(200deg, #e8eef2, #3e3836, #166556) border-box;
  border-radius: 8px;
  border: 2px solid transparent;
}

.tagpair-gradient {
  background: linear-gradient(#e8eef2, #e8eef2) padding-box,
    linear-gradient(to right, #292524, #166556) border-box;
  border-radius: 9999px;
  border: 2px solid transparent;
}

.bg-cross {
  background-image: url('cross.svg');
  background-size: cover;
  background-position: center;
}
.bg-cross-alert {
  background-image: url('alertcross.svg');
  background-size: cover;
  background-position: center;
}

.scroll-theme {
  scrollbar-color: #166556 #292524;
  scrollbar-width: thin;
}

.openmarker {
  background-image: url('tAccent2.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.chosenmarker {
  background-image: url('tAlert.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

:root{
  --fc-today-bg-color: #083344;
  --fc-event-bg-color: #0e7490;
  --fc-event-border-color: #164e63;
  --fc-button-bg-color: #164e63;
  --fc-button-border-color: #083344;
}



