@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navlink {
    @apply bg-dark font-light;
  }
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

