@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navlink {
    @apply py-4 bg-dark text-light border-r-4 border-r-coral text-center text-sm;
  }
  .navlinklast {
    @apply py-4 bg-dark text-light text-center text-sm;
  }
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

