<div class="w-full bg-dark text-light flex items-center border-t-8 border-dull">
  <div class="grid gap-2 p-2 py-2 border-t-2 border-sky-500 w-full">
    <%= link_to 'Dashboard', user_dashboard_path, class:"lightbutton-s"%>
  </div>
</div>