<div class="w-full bg-dark text-light flex items-center border-t-4 border-accent">
  <div class="grid gap-2 p-2 py-2 border-t-2 border-accent3 w-full">
    <%= link_to 'Dashboard', user_dashboard_path, class:"font-bold text-white"%>
    <%= link_to 'Debug', user_debug_path, class:"font-bold text-white"%>
    <%= link_to 'Sign Out', destroy_user_session_path, class: "font-bold text-accent"%>
  </div>
</div>